<% layout('layouts/boilerplate') %>

<div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds" method="POST" novalidate class="validated-form">

            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" id="title" name="campground[title]" class="form-control" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please, write a Campground name.
                </div>
            </div>
    
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" id="location" name="campground[location]" class="form-control" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please, write a location for the Campground.
                </div>
            </div>

            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="text" id="price" class="form-control" placeholder="0" name="campground[price]" required>
                    <span class="input-group-text">.00</span>
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please, assign a price.
                </div>
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">Image URL</label>
                <input type="text" id="image" name="campground[image]" class="form-control" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please, assign an image for the Campground.
                </div>
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea type="text" id="description" name="campground[description]" class="form-control" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please, add a description.
                </div>
            </div>

            <div class="mb-3">
                <button class="btn btn-success">Save</button>
            </div>

        </form>
        <a class="btn btn-outline-danger" href="/campgrounds">Cancel</a>
    </div>
</div>